:root {
    --color-primary: #9CBFA7;
    --color-secondary: #5C5C5C;
    --color-text: #333333;
    --color-text-light: #5C5C5C;
    --color-bg: #FFFFFF;
    --color-bg-secondary: #F9F9F9;
    --color-border: #EAEAEA;
    --color-accent: #8377D1;
    --color-logo: #9B98D5;
    --color-danger: #FF6B6B;
    --color-white: #FFFFFF;

    --font-main: 'Rubik', sans-serif;
    --font-logo: 'Pacifico', cursive;
}

* {
    margin: 0;
    padding: 0;
}
