* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.header .logo__image__link .logo__image {
  position: absolute;
  width: 157px;
  height: 70px;
  left: 32px;
  top: 5px;
}
.header .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.header .navigation .navigation__item {
  text-decoration: none;
  color: #272932;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}
.header .navigation .header__icons {
  display: flex;
  position: absolute;
  right: 64px;
  top: 30px;
  gap: 32px;
}
.header .navigation .header__icons .login__icon__link {
  text-decoration: none;
}
.header .navigation .header__icons .login__icon__link .login__icon__img {
  width: 24px;
  height: 24px;
}
.header .navigation .header__icons .cart__button {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: none;
}
.header .navigation .header__icons .cart__button .cart__icon {
  width: 24px;
  height: 24px;
}